@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;1,300&display=swap');
body{
	height:100vh;
	margin:0;
	font-size: 1.1rem;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
}

.header{
	background-color: #f6f6f4;
    text-align: center;
    padding: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.main{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top:2%;
	margin-right:5%;
}

.row{
	margin-top:10px;
	width:100%;
	display: flex;

}


.col{
	width:100%;
	border-bottom-left-radius:  10px;
	border-top-left-radius:  10px;
	padding:10px;
	background-color: #eaeaea;
}

.row div +div {
	border-bottom-left-radius:  0;
	border-top-left-radius: 0;
	border-bottom-right-radius:  10px;
	border-top-right-radius:  10px;
	background-color: #c8c8c8;
}

.col h3{
	font-style: italic;
}


.test-button {
  padding: 10px;
  margin-left:5px;
  background-color: #71beff;
  border-radius: 4px;
  font-size: 1em;
  border:0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
